{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}
<style>
.jumbo-paragraph {
    font-size:1.3em; 
    line-height:1.5em
}
</style>
<script>
$(document).ready(function(){ $('.page').removeClass('container'); });
</script>
<div class="nebula-jumbotron" style="color:black;">
<h1><img style="height:3em" src="{% static 'svg/hublogo.svg' %}"/></h1>
<h2 style="font-size:3em">CHEGOU O APARELHO<br>QUE VAI DAR O QUE FALAR</h2>
<p>__________________________________________________________________</p>
<p style="font-size:1.4em; line-height:1.4em; width:50%; margin:auto">Hub é um nanocomputador com capacidade para reproduzir e transmitir vídeos, músicas e fotos, além de infinitas possibilidades, o céu é o limite.</p>
<br><br>
</div>
<div style="text-align:center;">
    <div class="col-md-4 col-sm-6" style="background-color:#996699; height:600px; color:white;">
        <div class="white">
            <br><h1>Experiência surpreendente</h1><br>
            <img src="{% static "svg/eosplay.svg" %}" width="50%"/><br>
            <br><p class="jumbo-paragraph">Surpreenda-se com a experiência audiovisual que o HUB com EOS Play te proporciona. Reproduza filmes em até Full HD a partir de qualquer mídia que imaginar: interna, externa, pendrive, smartphone, tablet, entre muitas outras opções, tudo sem fio.</p><br>
	</div>
    </div>
    <div class="col-md-4 col-sm-6" style="background-color:#3398CC; color:white; height:600px;">
        <div class="white">
            <br><h1>Carregue para onde quiser</h1><br>
            <img src="{% static "svg/box.svg" %}" width="50%"/><br>
            <br><p class="jumbo-paragraph">Cabendo na palma de sua mão, o HUB é um dispositivo muito conveniente para carregar para todos os lados. Contatabém com suporte a tecnologia USB e HDMI, você consegue ligar vários periféricos a ele, como controles de jogo, teclados, pendrives e televisões.</p><br>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" style="background-color:#FFCD09; height:600px;">
            <br><h1>Diversão ilimitada</h1><br>
            <img src="{% static "svg/eosretro.svg" %}" width="50%"/><br>
            <br><p class="jumbo-paragraph">O HUB possui uma extensa compatibilidade com os mais diversos sistemas de entretenimento, do Super Nintendo ao Playstation, tudo em uma pequena embalagem, sem contar com a gama de jogos disponíveis pelo HUB Pro através da plataforma Android.</p><br>
    </div>
    <div class="col-md-4 col-sm-6" style="background-color:#6EC497; color:white; height:600px;">
            <br><h1>Com baterias inclusas</h1><br>
            <img src="{% static "svg/eos.svg" %}" width="50%"/><br>
            <br><p class="jumbo-paragraph">O HUB, equipado com a tecnologia EOS, consegue dispor o nanocomputador mais versátil para você através do sistema de troca de cartões. Desde um reprodutor multimídia até um computador multiuso, o sistema mostra toda a sua robustez.</p><br>
    </div>
    <div class="col-md-4 col-sm-6" style="background-color:#F79838; height:600px; color:white;">
        <div class="white">
            <br><h1>Para o infinito e além</h1><br>
            <img src="{% static "svg/cloud.svg" %}" width="50%"/><br>
            <br><p class="jumbo-paragraph">HUBs com o cartão EOS Cloud podem usufruir de um serviço chamado Efforia Cloud Service. Este serviço permite que seu HUB possa ser acessado remotamente pela internet, como e onde quiser.</p><br>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" style="background-color:#EE3967; color:white; height:600px;">
        <div class="white">
            <br><h1>Para os criativos e curiosos</h1><br>
            <img src="{% static "svg/eosbeta.svg" %}" width="50%"/><br>
            <br><p class="jumbo-paragraph">Com o cartão EOS Beta para HUB e HUB Pro, você será capaz de explorar muito mais o potencial de seu aparelho, podendo utilizá-lo para diversas outras funções como a criação de programas e aplicações educacionais.</p><br>
        </div>
    </div>
</div>
{% endblock %}
{% blocktrans %}
{% endblocktrans %}

