arrow==0.15.6
asgiref==3.2.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography>=2.9.2
dj-static==0.0.6
Django>=3.0.7
dropbox==10.2.0
ecdsa==0.15
gdata-python3==3.0.1
gunicorn==20.0.4
httplib2==0.18.1
idna==2.9
lxml==4.6.3
oauth2==1.9.0.post1
pagseguro==0.3.4
paypalrestsdk==1.13.1
pycparser==2.20
pyOpenSSL==19.1.0
pypugjs==5.9.4
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.15.0
sqlparse==0.3.1
static3==0.7.0
tlslite-ng==0.7.5
urllib3==1.25.9
xmltodict==0.12.0
