{% load i18n mezzanine_tags %}
<style>
    .btn-paypal, .btn-paypal:hover{ background:#3399CC; color:white; }
    .btn-pagseguro, .btn-pagseguro:hover { background:#6EC498; color:white; }
    .btn-bb, .btn-bb:hover{ background:#FFCE09; color:black; }
</style>
<fieldset>
    <legend>Selecione qual será a sua forma de pagamento:</legend>
    <div class="clearfix"></div>
    {% fields_for form.card_fields %}
    <div id="payment_option" class="btn-block btn-group-vertical" data-toggle="buttons">
        <label class="btn btn-block btn-paypal" style="color:white;">
            <h3>Pagar com o</h3>
            <img src="/static/svg/paypal.png" width="70%"/>
            <input type="radio" name="options" id="paypal" value="#id_card_pay_option_0">
            <h4>Aceito em todo o mundo</h4>
        </label>
        <!--<label class="btn btn-block btn-pagseguro" style="color:white;">
            <h3>Pagar com o</h3>
            <img src="/static/svg/pagseguro.png" width="70%"/>
            <input type="radio" name="options" id="pagseguro" value="#id_card_pay_option_1">
            <h4>Aceita boleto bancário<br/> e outros cartões</h4>
        </label>!-->
        <label class="btn btn-block btn-bb">
            <h3>Pagar com o</h3>
            <img src="/static/svg/bb.svg" width="70%" style="color:black;"/>
            <input type="radio" name="options" id="bb" value="#id_card_pay_option_2">
            <h4>Para boleto, depósito<br/> ou transferência bancária</h4>
        </label>
    </div>
</fieldset>

<script>
$(document).ready(function(){    
    $('.btn').on('click',function(){
        $(this).addClass('active');
        elem = $('.active input[name=options]').val();
        $(elem).prop("checked",true);
    });
})
</script>